@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* MAIN CONTAINER */

div.main-photo {
    height: 100vh;
    background-image: url("./images/main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.main-describe {
    display: flex;
    align-items: center;
    background-color: rgb(98, 237, 170);
    color: white;
}

div.main-describe h1 {
    font-weight: 900;
    font-size: 3rem;
    color: white;
}

div.main-describe h3 {
    font-weight: 900;
    color: rgb(34,34,34);
}

/* ABOUT ME CONTAINER */

div.about-me-container div.row:nth-child(odd) {
    margin-top: 10rem;
    margin-bottom: 6rem;
}

div.about-me-container h2 {
    text-align: center;
    font-weight: 900;
}

div.about-me-container h2.green-header {
    color: rgb(98, 237, 170);
}

div.about-me-container div.icons {
    margin-top: 4rem;
}

div.about-me-container div.icon-card {
    padding: 0rem 0.5rem; 
}

div.about-me-container img.icon {
    height: 5rem;
}

div.about-me-container div.icon-card h4 {
    margin-top: 1.5rem;
    font-weight: 600;
}

div.circle-container {
    display: flex;
    justify-content: center;
}

div.about-me-container div.rounded-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 12rem;
    margin: 1rem;
    border-radius: 100%;
    background-color: rgb(98, 237, 170);
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

div.about-me-container div.rounded-div:nth-child(1) {
    opacity: 0.75;
}

div.about-me-container div.rounded-div:nth-child(2) {
    opacity: 0.4;
}

div.about-me-container div.rounded-div:nth-child(4) {
    opacity: 0.75;
}

/* PROJECTS CONTAINER */

div.projects-container {
    margin-top: 10rem;
    padding-bottom: 10rem;
    background-color: rgb(98, 237, 170);
}

div.projects-container div.row {
    padding: 0 1rem;
}

div.projects-container h2 {
    margin-top: 10rem;
    margin-bottom: 6rem;
    text-align: center;
    font-weight: 600;
    color: white;
}

.card {
    color: white;
    border: none;
    background-color: rgb(98, 237, 170);
}

.card h4 {
    font-weight: 600;
}

.card-github-button img {
    height: 3rem;
}

/* WHY ME CONTAINER */

div.why-me-container {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

div.why-me-container h2 {
    margin-bottom: 6rem;
    font-weight: 900;
    color: rgb(98, 237, 170);
}

/* FOOTER  */

footer {
    padding-bottom: 5rem;
    text-align: center;
    color: white;
    background-color: rgb(34,34,34);
}

footer h2 {
    color: rgb(98, 237, 170);
    margin-top: 10rem;
    margin-bottom: 6rem;
    font-weight: 600;
}

footer a {
    color: white;
    text-decoration: none!important;
}

@media (max-width: 992px) {
    div.main-describe {
        padding: 6rem 1rem;
    }

    div.main-photo {
        height: 60vh;
    }

    div.icon-card {
        text-align: center;
    }

    div.about-me-container div.rounded-div {
        font-size: 0.9rem;
        height: 8rem;
        width: 8rem;
    }

    div.why-me-container {
        text-align: center;
    }

    div.why-me-container div.row:nth-child(2) {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}